---
// src/layouts/Layout.astro
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "FiestasGuatemala.com - Directorio #1 de eventos." } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="icon" type="image/png" href="https://fiestasguatemala.com/favicon.png" />

		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-XXXXXXX');</script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXX" is:inline></script>
		<script is:inline>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-XXXXXXX');
		</script>
		
		<slot name="head" />
	</head>
	<body class="bg-[#f0efec] text-[#243447] min-h-screen font-sans antialiased">
		
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<slot />
	</body>
</html>