---
// src/layouts/Layout.astro
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "FiestasGuatemala.com - Directorio #1 de eventos." } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="icon" type="image/png" href="https://fiestasguatemala.com/favicon.png" />
		
		<slot name="head" />
	</head>
	<body class="bg-[#f0efec] text-[#243447] min-h-screen">
		<slot />
	</body>
</html>